<div class="question-detail" fxLayout="column">
    <div fxLayout="column">
        <h1>Q. {{question}}</h1>
        <a routerLink="/add-answer/4">
            <button>Add an answer</button>
        </a>
    </div>
    <div>

    </div>
    <div>
        <div class="question-detail__answer-container" *ngFor="let answer of answers; trackBy: trackAnswerByFn" fxFlex="column" fxLayoutGap="5px">
            <div class="question-detail__poster-name">
                {{answer.postedBy}}
            </div>
            <div class='question-detail__answer-text'>
                {{answer.answerText}}
            </div>
        </div>
    </div>
</div>