.question-detail__answer-container:nth-child(1) {
 margin-top: 20px;
 border-top-width: 1px;
}
.question-detail__answer-container {
    border: 0 solid grey;
    border-bottom-width: 1px;
}

.question-detail__answer-text {
    color: black
}
.question-detail__poster-name {
    color: orange;
    font-style: italic;
}